# Unversioned files and folders.
# References at https://git-scm.com/docs/gitignore.

# Finder's configuration files (Mac).
.DS_Store

# Node.js modules.
node_modules/

# NPM's lockfiles.
# We're using PNPM and it provides its own lockfile.
npm-lockfile.json
npm-shrinkwrap.json‎

# Yarn's lockfile
# We're using PNPM and it provides its own lockfile.
yarn.lock

# Log's files.
*.log
*.log.*

# Generated bundles and type definitions.
dist/

# Generated type declarations.
types/

# Transpiled modules and their source-maps.
src/**/*.js
src/**/*.js.map
